<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :priority %><br>
    <%= f.text_field :priority %>
  </div>
  <div class="field">
    <%= f.select :status_id, options_from_collection_for_select(@status, 'id', 'name', selected: @task.status_id)%><br>
  </div>
  <div class="field">
    <%= f.select :board_id, options_from_collection_for_select(@boards, 'id', 'name')  %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
